<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <h2>Categories</h2>
    <h3>All</h3>
    <% for (let i = 0; i < data['categories'].length; i++) { %>
        <div>
            <p><%= data['categories'][i].name; %></p>
            <p><a href="/admin/category-delete/<%= data['categories'][i]._id; %>">Delete</a></p>
        </div>
    <% } %>
    <h3>Add</h3>
    <form action="/admin/category-add" method="post">
        <input type="text" name="category-add" id="category-add">
        <input type="submit" value="Envoyer">
    </form>
</body>
</html>