<header class="main-header">
    <a href="accueil.html" class="main-header__logo-link">
        <img src="/src/public/img/logo-mymedia.svg" alt="myMédia logo" class="main-header__logo">
    </a>
    <nav class="main-header__nav">
        <ul class="main-header__list">
            <li class="main-header__item"><a href="accueil.html" class="main-header__item-link">Accueil</a></li>
            <li class="main-header__item"><a href="ajouter.html" class="main-header__item-link main-header__item-link--active">Ajouter</a></li>
            <li class="main-header__item"><a href="decouvrir.html" class="main-header__item-link">Découvrir</a></li>
            <li class="main-header__item"><a href="login.html" class="main-header__item-link">Se connecter</a></li>
            <li class="main-header__item"><a href="profil.html" class="main-header__item-link">Damiano Mondaini</a></li>
        </ul>
    </nav>
</header>