.main-header {
    background-color: #134B5F;
    height: 40px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header__logo-link {
    height: 100%;
}

.main-header__logo {
    height: 100%;
}

.main-header__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-header__item {
    margin-left: 10px;
    display: flex;
}

.main-header__item-link {
    color: #FFFFFF;
    padding: 5px;
    font-size: 1.44em;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.main-header__item-link--active {
    background-color: white;
    color: #134B5F;
    border-radius: 15px;
}

.main-header__item-link:hover {
    text-decoration: underline;
}

#profil-list-item {
    display: none;
}

@media screen and (max-width: 820px) {
    .main-header__logo {
        display: none;
    }

    .main-header {
        justify-content: center;
    }

    .main-header__list > * {
        font-size: 0.55em;
    }
}